---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Esta página es el portafolio web de Miguel Angel Herrera Rodríguez, programador Full Stack, residente en Colombia, Bogotá. También contiene más información: CV Web, información, contacto, consejos" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/me.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--m-border-radius: 20px;

		--t-small: .8rem;
		--t-medium: 1rem;
		--t-big: 1.2rem;
		--t-large: 2rem;
		--t-extra-large: 3rem;

		--c-gradient-orange: linear-gradient( 111.4deg,  rgba(238,113,113,1) 1%, rgba(246,215,148,1) 58% );
		--c-gradient-pink: linear-gradient( 58.2deg,  rgba(40,91,212,0.73) -3%, rgba(171,53,163,0.45) 49.3%, rgba(255,204,112,0.37) 97.7% );
		--c-gradient-blue: linear-gradient(90deg, #5936B4 0%, #362A84 100%);
		--c-black: #333333;
		--c-blue: #333333;

		--accent: 103, 80, 255;
		--accent-light: 125, 105, 255;
		--accent-dark: 82, 63, 204;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Karla', Arial, Helvetica, sans-serif;
		background: #fcfcfc;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	p{
		margin: 0;
		padding: 0;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
